
@{
    ViewData["Title"] = "AddMeal";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@model MicroMotel.Web.Models.Motel.Meal.MealCreateInput
<form id="myForm" class="form-group" method="post">

    @Html.HiddenFor(x=>x.PropertyId)

    @Html.Label("Name")
    <input type="text" name="Name" class="form-control form-control-sm" />
    <br />
    @Html.Label("Price")
    <input type="text" name="Price" class="form-control form-control-sm" />
    <br />

    @Html.Label("Preperation Time")
    <input type="text" name="PrepTime" class="form-control form-control-sm" />
    <br />

    @Html.Label("Description")
    <br />
    <textarea name="Description"></textarea>
    <br />
    <br />

    <button type="submit" class="btn btn-success btn-sm">Save</button>
    <span class="space-between-buttons"></span> <!-- Boşluk -->
    <a href="/admin/propertywithmeals/@Model.PropertyId" class="btn btn-outline-dark btn-sm">Cancel</a>
    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Formun normal submit işlemini engelle

            // Formu AJAX ile sunucuya gönder
            var formData = new FormData(document.getElementById("myForm"));
            fetch("@Url.Action("AddMealS", "Admin")", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = data.redirectUrl;
                    } else {
                        // Handle error
                    }
                })
                .catch(error => {
                    console.error("An error occurred: ", error);
                });
        });
    </script>
</form>
<style>
    /* Stil textarea */
    textarea {
        color: #000; /* Metin rengi */
        font-size: 14px; /* Metin boyutu */
        width: 100%; /* Genişlik ayarı */
        height: 100px; /* Yükseklik ayarı */
        padding: 8px; /* Kenar boşluğu */
        border: 1px solid #ccc; /* Kenar çizgisi */
        resize: both; /* Dikey boyutlandırmaya izin ver */
    }

    .space-between-buttons {
        display: inline-block;
        width: 10px; /* İstenilen genişliği ayarlayın */
    }
</style>