    
    @{
        ViewData["Title"] = "AddProperty";
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }

@model PropertyCreateInput

<form class="form-group" method="post" id="myForm" enctype="multipart/form-data">


        
        @Html.Label("Name")
    <input type="text" name="Name" class="form-control form-control-sm" />
        <br />
        @Html.Label("Room Count")
    <input type="text" name="RoomCount" class="form-control form-control-sm" />
        <br />
        @Html.Label("Floor Count")
        <input type="text" name="FloorCount" class="form-control form-control-sm" />
        <br />
        @Html.Label("Has Parking")
    <select class="form-control form-control-sm" name="HasParking">
        <option value="true">Yes</option>
        <option value="false">No</option>

    </select>
        <br />

        @Html.Label("Has OpenSpace")
       
    <select class="form-control form-control-sm" name="HasOpenSpaces"  >
        <option value="true">Yes</option>
        <option value="false">No</option>
      
    </select>
        <br />
    
        @Html.Label("Address")
        <div class="address-fields">
        <input type="text" id="Address.City" name="Address.City" class="form-control form-control-sm" placeholder="City" />
        <input type="text" id="Address.District" name="Address.District" class="form-control form-control-sm" placeholder="District" />
        <input type="text" id="Address.Street" name="Address.Street" class="form-control form-control-sm" placeholder="Street" />
        <input type="text" id="Address.Building" name="Address.Building" class="form-control form-control-sm" placeholder="Building" />
        </div>
      
        <div class="mb-3">


        <label class="form-label" asp-for="PhotoFormFile"></label>
        <input type="file" asp-for="PhotoFormFile"  class="form-control"/>
        </div>


      <br />


    <button type="submit" onclick="submitAndGoBack();" class="btn btn-primary mr-2">Submit</button>

    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Formun normal submit işlemini engelle

            // Formu AJAX ile sunucuya gönder
            var formData = new FormData(document.getElementById("myForm"));
            fetch("@Url.Action("AddProperty", "Admin")", {
                method: "POST",
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        // Başarılı ise geri git
                        history.go(-1);
                    } else {
                        // Hata durumunu ele al
                        console.error("Bir hata oluştu: ", response);
                    }
                })
                .catch(error => {
                    console.error("Bir hata oluştu: ", error);
                });
        });
    </script>
       

    </form>

<style>
    .address-fields input {
        margin-bottom: 5px; /* İstenilen boşluğu ayarlayın */
    }
</style>