
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<form class="form-group" id="myForm" method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    @Html.Hidden("PropertyId")
    @Html.Label("Price")
    <input type="text" name="Price" class="form-control form-control-sm" />
    <br /> 
    
    @Html.Label("Room Number")
    <input type="text" name="Number" class="form-control form-control-sm" />
    <br />

    @Html.Label("Bed Count")
    <input type="text" name="BedCount" class="form-control form-control-sm" />
    <br />

    @Html.Label("Has Bath")
    <select class="form-control form-control-sm" name="HasBath">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    @Html.Label("Has Fridge")
    <select class="form-control form-control-sm" name="HasFridge">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    @Html.Label("Has TV")
    <select class="form-control form-control-sm" name="HasTv">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    @Html.Label("Has Network")
    <select class="form-control form-control-sm" name="HasNetwork">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    @Html.Label("Has AC")
    <select class="form-control form-control-sm" name="HasAC">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    @Html.Label("Floor")
    <select class="form-control form-control-sm" name="Floor">
        @for (int i = 1; i <= @ViewBag.FloorCount; i++)
        {
            <option value="@i">@i</option>

        }
    </select>
    <br />

    @Html.Label("Status")
    <select class="form-control form-control-sm" name="Status">
        @for (int i = 1; i <= 4; i++)
        {
            <option value="@i">@i</option>

        }
    </select>
    <br />
    <button type="submit" class="btn btn-success btn-sm">Save</button>
    @if (!ViewData.ModelState.IsValid)
    {
        
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
       
    }

    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var formData = new FormData(document.getElementById("myForm"));
            fetch("@Url.Action("AddRoom", "Admin")", {
                method: "POST",
                body: formData
            }).then(response => {
                if (response.ok) {
                    history.go(-1);
                } else {
                    response.json().then(data => {
                        if (data.status === 400) {
                            data.errors.forEach(error => {
                                alert(error);
                                console.error("Error: ", error);
                            });
                        }
                    });
                }
            }).catch(error => {
                console.error("An error occurred: ", error);
            });
        });
        </script>
</form>
