
@{
    ViewData["Title"] = "MealDetails";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


@model MicroMotel.Web.Models.Motel.Meal.MealViewModel

<div class="container">
    <div class="title-and-button-container">

        <a class="btn btn-outline-behance btn-sm mr-2" style="float: left" href="/admin/PropertyWithMeals/@Model.PropertyId">←</a>
        <h3 class="mb-0">Meal Details</h3>

    </div>
   
    <div class="Meal-details">
        <div class="Meal-info">
            <div class="Meal-label">Meal ID:</div>
            <div class="Meal-value">@Model.Id</div>
        </div>
        <div class="Meal-info">
            <div class="Meal-label">Prop ID:</div>
            <div class="Meal-value">@Model.PropertyId</div>
        </div>
        <div class="Meal-info">
            <div class="Meal-label">Meal Name:</div>
            <div class="Meal-value">@Model.Name</div>
        </div>
        <div class="Meal-info">
            <div class="Meal-label">Price:</div>
            <div class="Meal-value">@Model.Price</div>
        </div>
        <div class="Meal-info">
            <div class="Meal-label">Preparation Time:</div>
            <div class="Meal-value">@Model.PrepTime</div>
        </div>

        <div class="Meal-info">
            <div class="Meal-label">Description:</div>
            <div class="Meal-value">
                <textarea class="form-control" rows="5" readonly>@Model.Description</textarea>
            </div>
        </div>
      
        @*
        <div class="buttons-container">
        @{
        var id = Model.Id;
        var propid = Model.PropertyId;
        string link = id + "_" + propid;
        <a href="/Admin/UpdateMeal/@link" class="btn btn-warning">Update</a>
        <a href="/Admin/DeleteMeal/@Model.Id" class="btn btn-danger">Delete</a>
        }

        </div>*@

        <a href="/Admin/UpdateMeal/@Model.Id" class="btn btn-warning">Update</a>
        <a href="/Admin/DeleteMeal?id=@Model.Id&propid=@Model.PropertyId" onclick="deleteMeal()" class="btn btn-danger">Delete</a>

        <script>
            function deleteMeal() {
                // Burada gerekli delete işlemini yapabilirsiniz
                // ...

                // Delete işlemi tamamlandıktan sonra 2 adım geri git
                history.go(-2);
                return false;
            }
        </script>
    </div>
</div>

<style>
    .title-and-button-container h3 {
        margin-right: 20px; /* İstenilen boşluğu ayarlayın */
    }

    .title-and-button-container .btn {
        width: 40px;
        padding: 6px 7px;
        margin-left: 10px; /*  Bu satırı kaldırın veya düşürün */
    }
    .Meal-details {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 20px 0;
    }

    .buttons-container {
        display: grid;
        grid-template-columns: repeat(2, auto); /* 2 sütun oluşturun */
        gap: 20px; /* İstenilen boşluğu ayarlayın */
        margin-top: 20px;
    }

    .btn {
        width: 300px;
        padding: 8px 10px;
        text-align: center;
        margin-left: 60px; /* Add a little margin to the left */
    }

    .Meal-info {
        display: flex;
        margin-bottom: 10px;
    }

    .Meal-label {
        width: 120px;
        font-weight: bold;
    }

    .Meal-value {
        flex: 1;
    }
</style>