
@{
    ViewData["Title"] = "PropertyDetails";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@model MicroMotel.Web.Models.Motel.Property.PropertyViewModel
<div class="container">
    <h2>Property Details</h2>
    <div class="property-details">
        <div class="property-info">
            <div class="property-label">Property ID:</div>
            <div class="property-value">@Model.Id</div>
        </div>
        <div class="property-info">
            <div class="property-label">Property Name:</div>
            <div class="property-value">@Model.Name</div>
        </div>
        <div class="property-info">
            <div class="property-label">Room Count:</div>
            <div class="property-value">@Model.RoomCount</div>
        </div>
        <div class="property-info">
            <div class="property-label">Floor Count:</div>
            <div class="property-value">@Model.FloorCount</div>
        </div>
        <div class="property-info">
            <div class="property-label">Has Parking:</div>
            <div class="property-value">@Model.HasParking</div>
        </div>
        <div class="property-info">
            <div class="property-label">Has Open Space:</div>
            <div class="property-value">@Model.HasOpenSpace</div>
        </div>
        <div class="property-info">
            <div class="property-label">City:</div>
            <div class="property-value">@Model.Address.City</div>
        </div>
        <div class="property-info">
            <div class="property-label">District:</div>
            <div class="property-value">@Model.Address.District</div>
        </div>
        <div class="property-info">
            <div class="property-label">Street:</div>
            <div class="property-value">@Model.Address.Street</div>
        </div>
        <div class="property-info">
            <div class="property-label">Building:</div>
            <div class="property-value">@Model.Address.Building</div>
        </div>
   
        @*
        <div class="buttons-container">
        @{
        var id = Model.Id;
        var propid = Model.PropertyId;
        string link = id + "_" + propid;
        <a href="/Admin/UpdateRoom/@link" class="btn btn-warning">Update</a>
        <a href="/Admin/DeleteRoom/@Model.Id" class="btn btn-danger">Delete</a>
        }

        </div>*@

     @*   <a href="/Admin/UpdateRoom?id=@Model.Id&propid=@Model.PropertyId" class="btn btn-warning">Update</a>
        <a href="/Admin/DeleteRoom/@Model.Id" class="btn btn-danger">Delete</a>*@
        
        <div class="buttons-container">
        <a href="/Admin/PropertyWithRooms/@Model.Id" class="btn btn-warning">Rooms</a>
            <a href="/Admin/PropertyWithMeals/@Model.Id" class="btn btn-danger">Meals</a>
        </div>


    </div>
</div>

<style>
    .property-details {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 20px 0;
    }

    .buttons-container {
        display: grid;
        grid-template-columns: repeat(2, auto); /* 2 sütun oluşturun */
        gap: 20px; /* İstenilen boşluğu ayarlayın */
        margin-top: 20px;
    }

    .btn {
        width: 300px;
        padding: 8px 10px;
        text-align: center;
        margin-left: 60px; /* Add a little margin to the left */
    }

    .property-info {
        display: flex;
        margin-bottom: 10px;
    }

    .property-label {
        width: 120px;
        font-weight: bold;
    }

    .property-value {
        flex: 1;
    }
</style>