    @{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_mainlayout.cshtml";

    var count = 0;
}

<div class="jumbotron jumbotron-fluid bg-primary text-white text-center">
    <div class="container">
        <h1 class="display-4">Welcome to MicroMotel</h1>
        <p class="lead">Reserve Your Perfect Stay and Delightful Meals</p>
    </div>
</div>


@model List<PropertyViewModel>
@*<h2>Motels</h2>*@
<hr />
<br />
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        count++;
        if (count == 1 || (count % 3) == 1)
        {
            @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4 mb-2 '>")}
            <div class="col">
                <div class="card">
                    <img src="@item.Picture"style="width:283.28px;height:159.34px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a asp-controller="Home" asp-action="PropertyDetail" asp-route-id="@item.Id" class="card-link">
                            <h5 class="card-title">@item.Address.City</h5>
                            <h6 class="card-text">@item.Name</h6>
                            <label>@item.Address.District</label>
                        </a>
                        <div>
                            <a asp-controller="Home" asp-action="Rooms" class="btn btn-success" asp-route-id="@item.Id">Rooms</a>
                            <a asp-controller="Home" asp-action="Meals" class="btn btn-primary" asp-route-id="@item.Id">Meals</a>
                        </div>
                    </div>
                </div>
            </div>
            if (count % 3 == 0)
            {
                @Html.Raw("</div>")
            }

    }
}

<style>
    .card {
        border: 1px solid #bbb;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        cursor: pointer; /* Add cursor style to indicate the element is clickable */
    }

    .jumbotron {
        border-radius: 0;
        margin-bottom: 0;
    }
    .card:hover {
        border-color: #333;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>